.bulli {
                        background: url('images/icon_list.gif') no-repeat 0 5px transparent;
                        padding-left: 12px;
                        margin-bottom: 5px;
                        margin-left: 5px;
                        width: 46% !important;
                    }

                    .jcarousel {
                        position: relative;
                        overflow: hidden;
                    }

                        .jcarousel ul {
                            width: 20000em;
                            position: relative;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                        }

                        .jcarousel li {
                            float: left;
                        }

                    .clip .bar, .docnhieunhat .bar {
                        border-top: solid 2px #ff9300;
                        text-align: left;
                        font: normal 16px/1.3 'Myriad';
                        color: #171717;
                        padding: 6px 0;
                    }

                    .clip li {
                        width: 156px;
                        overflow: hidden;
                        margin-right: 20px;
                    }

                        .clip li a {
                            display: block;
                            float: left;
                            position: relative;
                        }

                        .clip li img {
                            display: block;
                            float: left;
                        }

                        .clip li h3 {
                            font: bold 12px/1.3 arial;
                            color: Black;
                            overflow: hidden;
                            background-color: #ededed;
                            padding: 6px;
                            height: 55px;
                        }

                        .clip li a .video_ico {
                            top: 45px;
                            left: 0;
                        }

                        .clip li a:hover .video_ico {
                            background-position: -309px 0;
                        }

                    .clip .slide_clip {
                        height: 185px;
                    }

                    .truyenhinh li h3 {
                        height: 60px;
                    }

                    .nguoidep li h3, .sukien_anh li h3 {
                        height: 32px;
                    }

                    .clip .slide_clip_page, .truyenhinh .slide_truyenhinh_page, .sukien_anh .slide_sukien_anh_page, .nguoidep .slide_nguoidep_page {
                        float: right;
                    }

                        .clip .slide_clip_page a, .truyenhinh .slide_truyenhinh_page a, .sukien_anh .slide_sukien_anh_page a, .nguoidep .slide_nguoidep_page a {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            background-color: #999;
                            border-radius: 5px;
                            margin-left: 5px;
                            text-indent: -9999px;
                            line-height: 7px;
                        }

                            .clip .slide_clip_page a.active, .clip .slide_clip_page a:hover, .truyenhinh .slide_truyenhinh_page a.active, .truyenhinh .slide_truyenhinh_page a:hover, .sukien_anh .slide_sukien_anh_page a.active, .sukien_anh .slide_sukien_anh_page a:hover, .nguoidep .slide_nguoidep_page a.active, .nguoidep .slide_nguoidep_page a:hover {
                                background-color: #be0000;
                            }

                    .sprite {
                        background: url(/images/sprite_19_03_2015.png) no-repeat 0 0;
                    }

                    .video_ico {
                        width: 44px;
                        height: 25px;
                        background-position: -260px 0;
                        position: absolute;
                    }