
h4.title {
    font-weight: bold;
    color: #00bbf3;
    border-left: 6px solid #00bbf3;
    padding-left: 7px;
}

    h4.title a {
        font-weight: bold;
        color: #00bbf3;
    }

        h4.title a:hover {
            text-decoration: underline;
        }

.forum_name {
    font-weight: bold;
    color: #00bbf3;
    font-size: 16px;
    border-left: 6px solid #00bbf3;
    background-color: #f0f9fe;
    padding: 4px 0px 0px 7px;
}

    .forum_name a {
        font-weight: bold;
        color: #00bbf3;
    }

        .forum_name a:hover {
            color: #004f8b;
        }
/********** E: COMMON **********/
/********** TOPBAR **********/
.topbar {
    background-color: #f1f1f1;
    height: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
    #divAdLeft {
        display:none !important;
    }
}
@media screen and (min-width: 1600px) {
    #divAdLeft {
        display:block !important;
    }
}
    .topbar .topbar_ct {
        width: 1000px;
        margin: 0 auto;
    }

        .topbar .topbar_ct .nav_left {
            float: left;
        }

            .topbar .topbar_ct .nav_left a {
                font-size: 12px;
                color: #999;
                border-top: 2px solid #f1f1f1;
                height: 21px;
                display: inline-block;
                padding: 7px 7px 0px 7px;
            }

                .topbar .topbar_ct .nav_left a:hover {
                    color: #00bcf3;
                    border-top: 2px solid #00bbf2;
                    background-color: #fff;
                }

                .topbar .topbar_ct .nav_left a.on {
                    color: #00bcf3;
                    border-top: 2px solid #00bbf2;
                    background-color: #fff;
                }

        .topbar .topbar_ct .nav_right {
            float: right;
            font-size: 12px;
            color: #999;
            padding-top: 7px;
        }

            .topbar .topbar_ct .nav_right a {
                color: #999;
            }

                .topbar .topbar_ct .nav_right a:hover {
                    color: #00bcf3;
                }

            .topbar .topbar_ct .nav_right span {
                display: inline-block;
                padding: 0px 3px 0px 6px;
            }

            .topbar .topbar_ct .nav_right .btn_rss {
                font-weight: bold;
                background-color: #ccc;
                color: #fff;
                padding: 0px 3px;
                margin-left: 5px;
            }

                .topbar .topbar_ct .nav_right .btn_rss:hover {
                    background-color: #ff9900;
                    color: #fff;
                }
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

    .wrapper .advfullwidth {
        margin-bottom: 10px;
    }

        .wrapper .advfullwidth img {
            display: block;
            max-width: 1000px;
        }

.header {
    margin-bottom: 10px;
}

    .header .logozone {
        text-align: right;
        margin-bottom: 6px;
    }

        .header .logozone .logo {
            float: left;
            margin-top: 12px;
            margin-right: 6px;
        }

        .header .logozone .advbox {
            float: right:;
        }

    .header .menubar {
        background-color: #00bbf2;
        border-top: 1px solid #04adde;
        height: 31px;
    }

        .header .menubar li {
            float: left;
        }

            .header .menubar li a {
                font-size: 12px;
                font-weight: bold;
                color: #fff;
                display: inline-block;
                height: 23px;
                padding: 8px 7px 0px 4px;
                white-space: nowrap;
            }

                .header .menubar li a:hover {
                    background-color: #0a86ab;
                }

                .header .menubar li a.on {
                    background-color: #0a86ab;
                }

                .header .menubar li a.home span {
                    display: inline-block;
                    width: 18px;
                    height: 17px;
                    background: url('/images/icon.png') no-repeat 0 0 transparent;
                    position: relative;
                    top: -2px;
                }

.layout2col {
background:#ffffff;
}

    .layout2col .col_left {
        width: 690px;
        float: left;
    }

        .layout2col .col_left .advbox {
            margin-bottom: 13px;
        }

            .layout2col .col_left .advbox img {
                display: block;
            }

        .layout2col .col_left .news_top {
        }

            .layout2col .col_left .news_top .news_top_hd {
                background-color: #f6f6f6;
                height: 30px;
                position: relative;
            }

                .layout2col .col_left .news_top .news_top_hd .time {
                    font-size: 12px;
                    color: #999;
                    display: inline-block;
                    margin: 7px 0px 0px 9px;
                }

                .layout2col .col_left .news_top .news_top_hd .news_top_tabs {
                    position: absolute;
                    bottom: 0;
                    right: 52px;
                }

                    .layout2col .col_left .news_top .news_top_hd .news_top_tabs a {
                        display: inline-block;
                        font-size: 13px;
                        font-weight: bold;
                        color: #999;
                        padding: 4px 12px 6px 12px;
                    }

                        .layout2col .col_left .news_top .news_top_hd .news_top_tabs a:hover {
                            background-color: #fff;
                            color: #00bbf3;
                        }

                        .layout2col .col_left .news_top .news_top_hd .news_top_tabs a.on {
                            background-color: #fff;
                            color: #00bbf3;
                        }

            .layout2col .col_left .news_top .news_top_ct {
            }

                .layout2col .col_left .news_top .news_top_ct .ct_left {
                    width: 400px;
                    float: left;
                }

                    .layout2col .col_left .news_top .news_top_ct .ct_left .news_item {
                        background-color: #f0f9fe;
                    }

                        .layout2col .col_left .news_top .news_top_ct .ct_left .news_item .photo {
                            display: inline-block;
                            width: 400px;
                            height: 300px;
                            overflow: hidden;
                            margin-bottom: 8px;
                        }

                            .layout2col .col_left .news_top .news_top_ct .ct_left .news_item .photo img {
                                max-width: 400px;
                            }

                        .layout2col .col_left .news_top .news_top_ct .ct_left .news_item .text {
                            padding: 0px 10px 15px 10px;
                        }

                            .layout2col .col_left .news_top .news_top_ct .ct_left .news_item .text h4 {
                                margin-bottom: 4px;
                            }

                                .layout2col .col_left .news_top .news_top_ct .ct_left .news_item .text h4 a {
                                    font-weight: bold;
                                    color: #00bbf3;
                                }

                                    .layout2col .col_left .news_top .news_top_ct .ct_left .news_item .text h4 a:hover {
                                        text-decoration: underline;
                                    }

                            .layout2col .col_left .news_top .news_top_ct .ct_left .news_item .text p {
                                font-size: 13px;
                                color: #004f8b;
                            }

                .layout2col .col_left .news_top .news_top_ct .ct_right {
                    width: 282px;
                    float: right;
                    padding-top: 8px;
                }

                    .layout2col .col_left .news_top .news_top_ct .ct_right .news_lst {
                    }

                        .layout2col .col_left .news_top .news_top_ct .ct_right .news_lst li {
                            background: url('/images/icon_list.gif') no-repeat 0 5px transparent;
                            padding-left: 12px;
                            margin-bottom: 5px;
                            margin-left: 5px;
                        }

                            .layout2col .col_left .news_top .news_top_ct .ct_right .news_lst li a {
                                line-height: 1.3em;
                            }

                    .layout2col .col_left .news_top .news_top_ct .ct_right .hot_hd {
                        white-space: nowrap;
                        border-bottom: 1px solid #00bbf3;
                        margin-bottom: 8px;
                        height: 30px;
                    }

                        .layout2col .col_left .news_top .news_top_ct .ct_right .hot_hd p {
                            font-size: 12px;
                            font-weight: bold;
                            color: #fff;
                            background-color: #00bbf3;
                            display: inline-block;
                            padding: 2px 8px;
                        }

        .layout2col .col_left .news_box_type1 {
            margin-bottom: 13px;
            margin-top: 8px;
        }

            .layout2col .col_left .news_box_type1 .hd {
                margin-bottom: 13px;
            }

            .layout2col .col_left .news_box_type1 .main_ct {
                width: 690px;
                overflow: hidden;
            }

                .layout2col .col_left .news_box_type1 .main_ct ul {
                    width: 700px;
                }

                    .layout2col .col_left .news_box_type1 .main_ct ul li {
                        float: left;
                        width: 340px;
                        margin-right: 10px;
                    }

                        .layout2col .col_left .news_box_type1 .main_ct ul li .photo {
                            display: inline-block;
                            width: 340px;
                            height: 255px;
                            overflow: hidden;
                            margin-bottom: 12px;
                        }

                            .layout2col .col_left .news_box_type1 .main_ct ul li .photo img {
                                display: block;
                                max-width: 340px;
                            }

                        .layout2col .col_left .news_box_type1 .main_ct ul li .title_post {
                            font-size: 18px;
                            font-weight: bold;
                            color: #004f8b;
                        }

                            .layout2col .col_left .news_box_type1 .main_ct ul li .title_post:hover {
                                color: #00bbf3;
                            }

        .layout2col .col_left .news_box_type2 {
            margin-bottom: 6px;
        }

            .layout2col .col_left .news_box_type2 h4 {
                margin-bottom: 13px;
            }

            .layout2col .col_left .news_box_type2 .photo {
                display: inline-block;
                width: 340px;
                height: 255px;
                overflow: hidden;
                margin-bottom: 10px;
            }

                .layout2col .col_left .news_box_type2 .photo img {
                    display: block;
                    max-width: 340px;
                }

            .layout2col .col_left .news_box_type2 h5 {
                margin-bottom: 10px;
            }

            .layout2col .col_left .news_box_type2 .title_post {
                font-size: 18px;
                font-weight: bold;
                color: #004f8b;
            }

                .layout2col .col_left .news_box_type2 .title_post:hover {
                    color: #00bbf3;
                }

            .layout2col .col_left .news_box_type2 ul li {
                background: url('/images/icon_list.gif') no-repeat 0 5px transparent;
                padding-left: 14px;
                margin-bottom: 5px;
            }

            .layout2col .col_left .news_box_type2 .left_ct {
                width: 340px;
                float: left;
            }

            .layout2col .col_left .news_box_type2 .right_ct {
                width: 340px;
                float: right;
            }

        .layout2col .col_left .news_box_type3 {
            margin-bottom: 13px;
        }

            .layout2col .col_left .news_box_type3 h4.title {
                margin-bottom: 11px;
            }

            .layout2col .col_left .news_box_type3 .main_ct {
            }

                .layout2col .col_left .news_box_type3 .main_ct .news_big {
                    width: 340px;
                    float: left;
                    position: relative;
                }

                    .layout2col .col_left .news_box_type3 .main_ct .news_big img {
                        display: block;
                        max-width: 340px;
                    }

                    .layout2col .col_left .news_box_type3 .main_ct .news_big span {
                        background: url('/images/bgr_trans_black.png') repeat 0 0 transparent;
                        width: 100%;
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 18px;
                        color: #fff;
                    }

                    .layout2col .col_left .news_box_type3 .main_ct .news_big b {
                        padding: 7px 12px 5px 10px;
                        display: inline-block;
                    }

                    .layout2col .col_left .news_box_type3 .main_ct .news_big a:hover span {
                        color: #00bbf3;
                    }

                .layout2col .col_left .news_box_type3 .main_ct .news_r {
                    width: 340px;
                    float: right;
                }

                    .layout2col .col_left .news_box_type3 .main_ct .news_r .top {
                        margin-bottom: 8px;
                    }

                        .layout2col .col_left .news_box_type3 .main_ct .news_r .top .photo {
                            float: left;
                            width: 120px;
                            height: 90px;
                            overflow: hidden;
                            margin-right: 12px;
                        }

                            .layout2col .col_left .news_box_type3 .main_ct .news_r .top .photo img {
                                display: block;
                                max-width: 120px;
                            }

                        .layout2col .col_left .news_box_type3 .main_ct .news_r .top h6 a {
                            font-size: 14px;
                            font-weight: bold;
                            color: #004f8b;
                        }

                            .layout2col .col_left .news_box_type3 .main_ct .news_r .top h6 a:hover {
                                color: #00bbf3;
                            }

                    .layout2col .col_left .news_box_type3 .main_ct .news_r ul li {
                        background: url('/images/icon_list.gif') no-repeat 0 11px transparent;
                        border-bottom: 1px dashed #ccc;
                        padding: 6px 0px 8px 13px;
                    }

                        .layout2col .col_left .news_box_type3 .main_ct .news_r ul li:last-child {
                            border-bottom: none;
                        }

        .layout2col .col_left .news_box_type4 {
            margin-bottom: 10px;
        }

            .layout2col .col_left .news_box_type4 h4.title {
                margin-bottom: 8px;
            }

            .layout2col .col_left .news_box_type4 .main_ct {
            }

                .layout2col .col_left .news_box_type4 .main_ct .m_left {
                    width: 340px;
                    float: left;
                    background-color: #f6f6f6;
                }

                    .layout2col .col_left .news_box_type4 .main_ct .m_left img {
                        display: block;
                        max-width: 340px;
                    }

                    .layout2col .col_left .news_box_type4 .main_ct .m_left .text {
                        padding: 0px 14px 18px 14px;
                    }

                        .layout2col .col_left .news_box_type4 .main_ct .m_left .text h5 {
                            padding-top: 4px;
                            margin-bottom: 7px;
                        }

                            .layout2col .col_left .news_box_type4 .main_ct .m_left .text h5 a {
                                font-size: 18px;
                                font-weight: bold;
                                color: #004f8b;
                            }

                                .layout2col .col_left .news_box_type4 .main_ct .m_left .text h5 a:hover {
                                    color: #00bbf3;
                                }

                        .layout2col .col_left .news_box_type4 .main_ct .m_left .text p {
                            font-size: 13px;
                            color: #004f8b;
                        }

                .layout2col .col_left .news_box_type4 .main_ct .m_right {
                    width: 342px;
                    float: right;
                    overflow: hidden;
                }

                    .layout2col .col_left .news_box_type4 .main_ct .m_right ul {
                        width: 355px;
                    }

                        .layout2col .col_left .news_box_type4 .main_ct .m_right ul li {
                            width: 165px;
                            float: left;
                            margin-right: 12px;
                            margin-bottom: 11px;
                        }

                            .layout2col .col_left .news_box_type4 .main_ct .m_right ul li img {
                                display: block;
                                max-width: 165px;
                            }

                            .layout2col .col_left .news_box_type4 .main_ct .m_right ul li h6 {
                                padding: 5px 0px 0px 0px;
                                min-height: 64px;
                            }

                                .layout2col .col_left .news_box_type4 .main_ct .m_right ul li h6 a {
                                    font-size: 13px;
                                    color: #004f8b;
                                }

                                    .layout2col .col_left .news_box_type4 .main_ct .m_right ul li h6 a:hover {
                                        color: #00bbf3;
                                    }

        .layout2col .col_left .news_box_type5 {
            margin-bottom: 15px;
        }

            .layout2col .col_left .news_box_type5 .main_ct {
                width: 217px;
                float: left;
                margin-right: 10px;
            }

                .layout2col .col_left .news_box_type5 .main_ct h4.title {
                    margin-bottom: 12px;
                }

                .layout2col .col_left .news_box_type5 .main_ct img {
                    display: block;
                    max-width: 217px;
                }

                .layout2col .col_left .news_box_type5 .main_ct h6 {
                    padding-top: 8px;
                    margin-bottom: 10px;
                    height: 32px;
                }

                    .layout2col .col_left .news_box_type5 .main_ct h6 a {
                        font-size: 14px;
                        font-weight: bold;
                        color: #004f8b;
                    }

                        .layout2col .col_left .news_box_type5 .main_ct h6 a:hover {
                            color: #00bbf3;
                        }

                .layout2col .col_left .news_box_type5 .main_ct ul li {
                    background: url('/images/icon_list.gif') no-repeat 0 11px transparent;
                    border-top: 1px dashed #ccc;
                    padding: 6px 0px 6px 15px;
                }

        .layout2col .col_left .news_box_type6 {
            margin-bottom: 15px;
        }

            .layout2col .col_left .news_box_type6 .type6_l {
                width: 340px;
                float: left;
            }

                .layout2col .col_left .news_box_type6 .type6_l .video {
                    position: relative;
                    margin-bottom: 6px;
                }

                    .layout2col .col_left .news_box_type6 .type6_l .video h4.title {
                        margin-bottom: 12px;
                    }

                    .layout2col .col_left .news_box_type6 .type6_l .video img {
                        display: block;
                        max-width: 340px;
                    }

                    .layout2col .col_left .news_box_type6 .type6_l .video span {
                        background: url('/images/bgr_trans_blue.png') repeat 0 0 transparent;
                        width: 100%;
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 18px;
                        color: #fff;
                    }

                    .layout2col .col_left .news_box_type6 .type6_l .video b {
                        padding: 7px 50px 5px 12px;
                        display: inline-block;
                        background: url('/images/icon_video.png') no-repeat right 50% transparent;
                        margin-right: 12px;
                    }

                    .layout2col .col_left .news_box_type6 .type6_l .video a:hover span {
                        color: #004f8b;
                    }

                .layout2col .col_left .news_box_type6 .type6_l .picture {
                    width: 340px;
                    overflow: hidden;
                }

                    .layout2col .col_left .news_box_type6 .type6_l .picture h4.title {
                        margin-bottom: 12px;
                    }

                    .layout2col .col_left .news_box_type6 .type6_l .picture ul {
                        width: 350px;
                    }

                        .layout2col .col_left .news_box_type6 .type6_l .picture ul li {
                            width: 165px;
                            float: left;
                            margin-right: 10px;
                        }

                            .layout2col .col_left .news_box_type6 .type6_l .picture ul li a img {
                                display: block;
                                max-width: 165px;
                            }

                            .layout2col .col_left .news_box_type6 .type6_l .picture ul li h6 {
                                padding-top: 7px;
                            }

                                .layout2col .col_left .news_box_type6 .type6_l .picture ul li h6 a {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #004f8b;
                                }

                                    .layout2col .col_left .news_box_type6 .type6_l .picture ul li h6 a:hover {
                                        color: #00bbf3;
                                    }

            .layout2col .col_left .news_box_type6 .type6_r {
                width: 340px;
                float: right;
            }

                .layout2col .col_left .news_box_type6 .type6_r h4.title {
                    margin-bottom: 12px;
                }

                .layout2col .col_left .news_box_type6 .type6_r .type6_r_ct {
                    background-color: #f0f9fe;
                    padding: 11px 12px 6px 12px;
                }

                    .layout2col .col_left .news_box_type6 .type6_r .type6_r_ct h6 {
                        font-size: 13px;
                        font-weight: bold;
                        color: #004f8b;
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 2px;
                        margin-bottom: 2px;
                    }

                    .layout2col .col_left .news_box_type6 .type6_r .type6_r_ct ul {
                        margin-bottom: 2px;
                    }

                        .layout2col .col_left .news_box_type6 .type6_r .type6_r_ct ul li {
                            background: url('/images/icon_list.gif') no-repeat 0 11px transparent;
                            border-bottom: 1px dashed #ccc;
                            padding: 6px 0px 7px 15px;
                        }

                            .layout2col .col_left .news_box_type6 .type6_r .type6_r_ct ul li:last-child {
                                border-bottom: none;
                            }

    .layout2col .col_right {
        width: 300px;
        float: right;
    }

        .layout2col .col_right .advbox {
            margin-bottom: 8px;
        }

            .layout2col .col_right .advbox img {
                display: block;
                max-width: 300px;
            }

        .layout2col .col_right .news_box_r {
            margin-bottom: 8px;
        }

            .layout2col .col_right .news_box_r .hd {
                background-color: #f9f9f9;
                border-bottom: 2px solid #00bbf3;
                padding-top: 9px;
            }

                .layout2col .col_right .news_box_r .hd a {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                    color: #999;
                    background-color: #f1f1f1;
                    padding: 6px 15px 5px 15px;
                }

                    .layout2col .col_right .news_box_r .hd a:hover {
                        background-color: #00bbf3;
                        color: #fff;
                    }

                    .layout2col .col_right .news_box_r .hd a.on {
                        background-color: #00bbf3;
                        color: #fff;
                    }

            .layout2col .col_right .news_box_r .main {
            }

                .layout2col .col_right .news_box_r .main ul li {
                    background: url('/images/icon_list.gif') no-repeat 0 13px transparent;
                    padding: 8px 0px 7px 19px;
                    border-bottom: 1px dashed #ccc;
                }

                    .layout2col .col_right .news_box_r .main ul li:last-child {
                        border-bottom: none;
                    }

        .layout2col .col_right .weather_box {
            margin-bottom: 8px;
        }

            .layout2col .col_right .weather_box .hd {
                margin-bottom: 5px;
            }

                .layout2col .col_right .weather_box .hd h5 {
                    font-weight: bold;
                    float: left;
                    color: #00bbf3;
                }

                .layout2col .col_right .weather_box .hd .cityname {
                    float: right;
                    font-size: 13px;
                    color: #004f8b;
                    background: url('/images/icon_down.png') no-repeat right 50% transparent;
                    padding-right: 18px;
                }

            .layout2col .col_right .weather_box .weather_ct {
                max-width: 300px;
                overflow: hidden;
            }

        .layout2col .col_right .vote_box {
            background-color: #f9f9f9;
            margin-bottom: 8px;
        }

            .layout2col .col_right .vote_box .hd {
                background-color: #f3f3f3;
                border-top: 2px solid #00bbf3;
                padding: 9px 0px 5px 10px;
            }

                .layout2col .col_right .vote_box .hd h5 {
                    font-weight: bold;
                    color: #00bbf3;
                }

            .layout2col .col_right .vote_box .vote_ct {
                padding: 12px 12px 10px 12px;
            }

                .layout2col .col_right .vote_box .vote_ct .question {
                    font-weight: bold;
                    color: #004f8b;
                    font-size: 13px;
                    margin-bottom: 14px;
                }

                .layout2col .col_right .vote_box .vote_ct .answer {
                    margin-bottom: 10px;
                }

                    .layout2col .col_right .vote_box .vote_ct .answer li {
                        margin-bottom: 5px;
                    }

                .layout2col .col_right .vote_box .vote_ct .button {
                    border-top: 1px solid #e9e9e9;
                    padding-top: 8px;
                }

                    .layout2col .col_right .vote_box .vote_ct .button .btn_ok {
                        border: medium none;
                        margin: 0;
                        padding: 5px 10px;
                        font-size: 13px;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;
                        background-color: #00bbf3;
                        margin-right: 5px;
                    }

                    .layout2col .col_right .vote_box .vote_ct .button .btn_view_result {
                        font-size: 12px;
                    }

        .layout2col .col_right .news_you_care {
        }

            .layout2col .col_right .news_you_care .hd {
                background-color: #f3f3f3;
                border-top: 2px solid #00bbf3;
                padding: 9px 0px 5px 10px;
            }

                .layout2col .col_right .news_you_care .hd h5 {
                    font-weight: bold;
                    color: #00bbf3;
                }

            .layout2col .col_right .news_you_care ul li {
                border-bottom: 1px dashed #ccc;
                padding: 11px 0px 11px 0px;
            }

                .layout2col .col_right .news_you_care ul li:last-child {
                    border-bottom: none;
                }

                .layout2col .col_right .news_you_care ul li .photo {
                    float: left;
                    width: 120px;
                    height: 90px;
                    overflow: hidden;
                    margin-right: 10px;
                }

                    .layout2col .col_right .news_you_care ul li .photo img {
                        max-width: 120px;
                    }

                .layout2col .col_right .news_you_care ul li h6 {
                    max-width: 165px;
                    float: left;
                    font-size: 13px;
                }

                    .layout2col .col_right .news_you_care ul li h6 a {
                        color: #004f8b;
                        font-weight: bold;
                    }

                        .layout2col .col_right .news_you_care ul li h6 a:hover {
                            color: #00bbf3;
                        }
/********** E: WRAPPER **********/
/********** DETAIL PAGE **********/
.detail_page {
}
.detail_page h3 {
 font-weight: normal ;
}

    .detail_page .forum_name {
        margin-bottom: 8px;
    }

    .detail_page .detail_top {
        margin-bottom: 6px;
    }

        .detail_page .detail_top h2 {
            font-size: 28px;
            font-weight: bold;
            color: #00bbf3;
            margin-bottom: 9px;
        }

        .detail_page .detail_top h1 {
            font-size: 28px;
            font-weight: bold;
            color: #00bbf3;
            margin-bottom: 9px;
        }

        .detail_page .detail_top .like_box {
            border-top: 1px dashed #ccc;
            border-bottom: 1px dashed #ccc;
            padding: 9px 0px 7px 0px;
            margin-bottom: 10px;
        }

            .detail_page .detail_top .like_box .social_network {
                float: left;
            }

            .detail_page .detail_top .like_box .time {
                float: right;
                font-size: 12px;
                color: #666;
                padding-top: 5px;
            }

        .detail_page .detail_top h5 {
            font-size: 14px;
            font-weight: bold;
            color: #333;
            padding-top: 7px;
            margin-bottom: 11px;
        }

        .detail_page .detail_top .related_news_box {
            width: 88%;
        }

            .detail_page .detail_top .related_news_box h6 {
                font-size: 14px;
                font-weight: bold;
                color: #00bbf3;
                border-bottom: 1px dashed #ccc;
                padding-bottom: 9px;
            }

            .detail_page .detail_top .related_news_box ul {
            }

                .detail_page .detail_top .related_news_box ul li {
                    background: url('/images/icon_list.gif') no-repeat 0 9px transparent;
                    border-bottom: 1px dashed #ccc;
                    border-top: 1px dashed #ccc;
                    padding: 4px 0px 6px 20px;
                }

                    .detail_page .detail_top .related_news_box ul li a {
                        font-size: 13px;
                        color: #333;
                    }

                        .detail_page .detail_top .related_news_box ul li a:hover {
                            color: #00bbf3;
                        }

    .detail_page .detail_content {
        margin-bottom: 5px;
        color: #333;
    }
 .detail_page .detail_content strong span{ font-weight:bold !important;}
        .detail_page .detail_content p {
              FONT-FAMILY: Arial !important;
            FONT-SIZE: 11.2pt !important;
            line-height: 20pt; 
	margin-top: 1%;
        }

        .detail_page .detail_content div {
             FONT-FAMILY: Arial !important;
            FONT-SIZE: 11.2pt !important;
            line-height: 20pt; 
			/*font: 18px/24px "Times New Roman" ;*/
        }

        .detail_page .detail_content span {
           FONT-FAMILY: Arial !important;
            FONT-SIZE: 11.2pt !important;
            line-height: 20pt; 
			/*font: 18px/24px "Times New Roman" ;*/
        }
		 .detail_page .detail_content  em span{
		 font-style: italic;
		 }


        .detail_page .detail_content div .itemsContainer {
            position: relative;
        }

            .detail_page .detail_content div .itemsContainer:hover .play {
                display: block;
            }

        .detail_page .detail_content div .play {
            position: absolute;
            display: none;
            top: 0;
            width: 40px;
            margin: 0 auto;
            right: 0px;
            z-index: 100;
            opacity: 0.5;
        }


    .detail_page .tags_box {
        border-bottom: 1px dashed #ccc;
        padding-bottom: 13px;
        margin-bottom: 18px;
    }

        .detail_page .tags_box .social_network {
            margin-bottom: 15px;
        }

        .detail_page .tags_box .tags {
            background-image: url("/images/icon-tag.png");
            background-repeat: no-repeat;
            border-bottom: 1px dotted #ccc;
            border-top: 1px dotted #ccc;
            font-family: Arial;
            font-size: 13px;
            font-weight: bold;
            padding: 1px 0 3px 18px;
            text-transform: uppercase;
            height: 20px;
        }

            .detail_page .tags_box .tags span {
                font-weight: bold;
                color: #fff;
                background-color: #ccc;
                display: inline-block;
                padding: 2px 5px 3px 5px;
                margin-right: 5px;
            }

            .detail_page .tags_box .tags li {
                float: left;
            }

                .detail_page .tags_box .tags li a {
                    border: 1px solid #ccc;
                    color: #999;
                    font-family: Arial;
                    font-size: 11px;
                    font-weight: bold;
                    margin-left: 5px;
                    padding: 2px 5px;
                    text-decoration: none;
                }

                    .detail_page .tags_box .tags li a:hover {
                        background-color: #000;
                        border: 1px solid #000;
                        color: #fff;
                    }

    .detail_page .related_news {
        width: 690px;
        margin-bottom: 16px;
    }

        .detail_page .related_news ul {
            width: 700px;
        }

            .detail_page .related_news ul li {
                float: left;
                width: 165px;
                margin-right: 10px;
            }

                .detail_page .related_news ul li .photo {
                    width: 165px;
                    height: 124px;
                    overflow: hidden;
                    margin-bottom: 6px;
                    display: inline-block;
                }

                    .detail_page .related_news ul li .photo img {
                        display: block;
                        max-width: 165px;
                    }

                .detail_page .related_news ul li h6 a {
                    font-size: 13px;
                    color: #004f8b;
                }

                    .detail_page .related_news ul li h6 a:hover {
                        color: #00bbf3;
                    }

    .detail_page .general_news {
    }

        .detail_page .general_news .news_box {
            float: left;
            width: 330px;
        }

            .detail_page .general_news .news_box h5 {
                font-weight: bold;
                color: #00bbf3;
                margin-bottom: 6px;
            }

            .detail_page .general_news .news_box ul li {
                background: url('/images/icon_list.gif') no-repeat 0 5px transparent;
                padding: 0px 0px 0px 15px;
                margin-bottom: 5px;
            }

                .detail_page .general_news .news_box ul li a {
                    font-size: 13px;
                    color: #004f8b;
                }

                    .detail_page .general_news .news_box ul li a:hover {
                        color: #00bbf3;
                    }
/********** E: DETAIL PAGE **********/
/********** CATEGORY PAGE **********/
.category_page {
}

    .category_page .category_news_top {
        background-color: #f6f6f6;
        padding: 10px;
        width: 670px;
        overflow: hidden;
        margin-bottom: 12px;
    }

        .category_page .category_news_top ul {
            width: 680px;
        }

            .category_page .category_news_top ul li {
                float: left;
                width: 330px;
                margin-right: 10px;
            }

                .category_page .category_news_top ul li .photo {
                    display: inline-block;
                    width: 330px;
                    height: 248px;
                    overflow: hidden;
                    margin-bottom: 7px;
                    position: relative;
                }

                    .category_page .category_news_top ul li .photo img {
                        display: block;
                        max-width: 330px;
                    }

                    .category_page .category_news_top ul li .photo .icon_video {
                        display: inline-block;
                        width: 42px;
                        height: 42px;
                        background: url('/images/icon_video.png') no-repeat 0 0 transparent;
                        position: absolute;
                        top: 102px;
                        left: 144px;
                    }

                    .category_page .category_news_top ul li .photo:hover .icon_video {
                        background: url('/images/icon_video_hover.png') no-repeat 0 0 transparent;
                    }

                .category_page .category_news_top ul li h4 {
                    margin-bottom: 10px;
                }

                    .category_page .category_news_top ul li h4 a {
                        font-size: 18px;
                        font-weight: bold;
                        color: #00bbf3;
                    }

                        .category_page .category_news_top ul li h4 a:hover {
                            color: #004f8b;
                        }

                .category_page .category_news_top ul li p {
                    font-size: 13px;
                    color: #004f8b;
                }

    .category_page .category_news_list {
    }

        .category_page .category_news_list ul li {
            margin-bottom: 12px;
        }

            .category_page .category_news_list ul li .photo {
                display: inline-block;
                width: 206px;
                height: 154px;
                overflow: hidden;
                float: left;
            }

                .category_page .category_news_list ul li .photo img {
                    display: block;
                    max-width: 206px;
                }

            .category_page .category_news_list ul li .text {
                width: 477px;
                float: right;
            }

                .category_page .category_news_list ul li .text h5 {
                    margin-bottom: 5px;
                }

                    .category_page .category_news_list ul li .text h5 a {
                        font-size: 16px;
                        font-weight: bold;
                        color: #004f8b;
                    }

                        .category_page .category_news_list ul li .text h5 a:hover {
                            color: #00bbf3;
                        }

                    .category_page .category_news_list ul li .text h5 img {
                        margin-left: 8px;
                    }

                .category_page .category_news_list ul li .text .time {
                    font-size: 11px;
                    display: inline-block;
                    color: #ccc;
                    margin-bottom: 8px;
                }

            .category_page .category_news_list ul li p {
                font-size: 13px;
                color: #004f8b;
            }

    .category_page .category_media_list {
        width: 690px;
        overflow: hidden;
    }

        .category_page .category_media_list ul {
            width: 700px;
        }

            .category_page .category_media_list ul li {
                width: 340px;
                float: left;
                margin-right: 10px;
                margin-bottom: 22px;
            }

                .category_page .category_media_list ul li .photo {
                    display: inline-block;
                    width: 340px;
                    height: 255px;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 12px;
                }

                    .category_page .category_media_list ul li .photo img {
                        display: block;
                        max-width: 340px;
                    }

                    .category_page .category_media_list ul li .photo .icon_video {
                        display: inline-block;
                        width: 42px;
                        height: 42px;
                        background: url('/images/icon_video.png') no-repeat 0 0 transparent;
                        position: absolute;
                        top: 109px;
                        left: 148px;
                    }

                    .category_page .category_media_list ul li .photo:hover .icon_video {
                        background: url('/images/icon_video_hover.png') no-repeat 0 0 transparent;
                    }

                .category_page .category_media_list ul li h4 {
                    margin-bottom: 7px;
                }

                    .category_page .category_media_list ul li h4 a {
                        font-size: 18px;
                        font-weight: bold;
                        color: #004f8b;
                    }

                        .category_page .category_media_list ul li h4 a:hover {
                            color: #00bbf3;
                        }

                .category_page .category_media_list ul li p {
                    font-size: 13px;
                    color: #004f8b;
                }

    .category_page .button_bot {
        border-top: 1px dashed #ccc;
        border-bottom: 1px dashed #ccc;
        padding: 10px 0;
        margin-bottom: 12px;
    }

        .category_page .button_bot a {
            display: inline-block;
            font-size: 13px;
            font-weight: bold;
            color: #fff;
            background-color: #00bbf2;
            padding: 4px 10px 5px 10px;
        }

            .category_page .button_bot a:hover {
                background-color: #999;
                text-decoration: none;
            }

        .category_page .button_bot .btn_prev {
            float: left;
        }

        .category_page .button_bot .btn_next {
            float: right;
        }

    .category_page .searchbydate {
        text-align: center;
    }

        .category_page .searchbydate span {
            font-size: 13px;
            display: inline-block;
            color: #004f8b;
        }

        .category_page .searchbydate .btn_view {
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            background-color: #999;
            padding: 2px 15px 3px 15px;
            position: relative;
            top: -1px;
            border: medium none;
            margin: 0;
        }

            .category_page .searchbydate .btn_view:hover {
                background-color: #00bbf2;
                cursor: pointer;
            }

        .category_page .searchbydate select {
            margin: 0;
        }
/********** E: CATEGORY PAGE **********/
/********** FOOTER **********/
.footer {
    background-color: #f9f9f9;
    padding-bottom: 18px;
}

    .footer .footer_nav {
        background-color: #f3f3f3;
    }

        .footer .footer_nav .footer_nav_ct {
            white-space: nowrap;
            width: 1000px;
            height: 35px;
            margin: 0 auto;
            padding-top: 5px;
            margin-bottom: 14px;
        }

            .footer .footer_nav .footer_nav_ct a {
                font-size: 12px;
                font-weight: bold;
                color: #004f8b;
                display: inline-block;
                margin-right: 8px;
            }

                .footer .footer_nav .footer_nav_ct a:hover {
                    color: #00bcf3;
                }

                .footer .footer_nav .footer_nav_ct a.rss {
                    background-color: #999;
                    color: #fff;
                    padding: 1px 6px 2px 6px;
                }

                    .footer .footer_nav .footer_nav_ct a.rss:hover {
                        background-color: #ff9900;
                    }

                .footer .footer_nav .footer_nav_ct a.home span {
                    display: inline-block;
                    width: 20px;
                    height: 19px;
                    background: url('/images/icon.png') no-repeat 0 -27px transparent;
                    position: relative;
                    top: 4px;
                }

    .footer .footer_ct {
        width: 1000px;
        margin: 0 auto;
    }

        .footer .footer_ct .logo {
            float: left;
            width: 226px;
            margin-right: 22px;
        }

        .footer .footer_ct .info {
            float: left;
            max-width: 750px;
            font-size: 12px;
            color: #004f8b;
            margin-left: 10px;
        }

            .footer .footer_ct .info p {
                font-size: 12px;
            }

                .footer .footer_ct .info p a {
                    font-size: 12px;
                    font-weight: bold;
                    color: #00bcf3;
                }

                    .footer .footer_ct .info p a:hover {
                        text-decoration: underline;
                    }
/********** E: FOOTER **********/
.crop {
    width: 400px;
    height: 300px;
    overflow: hidden;
}
/*.crop img { width: 400px; height: 300px; margin: -75px 0 0 -100px; }*/

/*CSS*/

/**CSS Homefocus*/

.slide_list {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    box-shadow: 0 1px 2px #DDDDDD;
    height: 190px;
    margin: 0 auto 10px;
    overflow: hidden;
    width: 680px;
    float: left;
}

    .slide_list ul {
        border-left: 1px solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        overflow: hidden;
        height: 225px;
    }

    .slide_list li {
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #FFFFFF;
        width: 161px;
        float: left;
    }

        .slide_list li:last-child {
            border-right: none;
        }

        .slide_list li:first-child {
            border-left: none;
            margin-left: 10px;
        }

        .slide_list li:hover {
            background: none repeat scroll 0 0 #FFFFFF;
        }

    .slide_list a {
        color: #034a82;
        display: block;
        font-weight: bold;
        height: 152px;
        margin: 0 auto;
        padding: 5px 0;
        width: 140px;
    }

    .slide_list img {
        display: block;
        /* height: 81px;*/
        margin: 5px auto;
        width: 144px;
    }

    .slide_list a:hover {
        color: #00bbf3;
    }

    .slide_list .sel a {
        color: #333333;
    }

    .slide_list a:hover img, .slide_list .sel img {
        border-bottom: 3px solid #00bbf3;
    }

/*Hue them*/
a.go_top {
    background: url("/images/gototop.jpg") no-repeat scroll 0 0 transparent;
    bottom: 354px;
    display: block;
    height: 50px;
    opacity: 0.6;
    position: fixed;
    right: 3px;
    width: 50px;
    z-index: 99;
    border-radius: 5px;
}

    a.go_top:hover {
        opacity: 1;
    }

.detail_page ul.icon-list li {
    background: url('/images/icon_list.gif') no-repeat 0 5px transparent;
    padding: 0px 0px 0px 15px;
    margin-bottom: 6px;
}

.the-article-source-url {
    clear: both;
    width: 90%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #555;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

    .the-article-source-url a {
        color: #555;
        /* }} */
        #abd_vidinpage;

{
    width: 0px;
}
